*.pyc
*~
__pycache__

/SystemGraph/local_settings.py
sysgr_uwsgi.ini
uwsgi_params
sysgr_nginx.conf

/userfiles/*
!/userfiles/readme.txt
/compilationfiles/*
/proposals/*
!/proposals/readme.txt
migrations
logs

config.mk4
