*.pyc
*~
__pycache__

/SystemGraph/local_settings.py
sysgr_uwsgi.ini
uwsgi_params
sysgr_nginx.conf

/userfiles/*
!/userfiles/readme.txt
/proposals/*
!/proposals/readme.txt
migrations
logs

/compilationfiles/*
!/compilationfiles/AAAAAAAAAA.tex
!/compilationfiles/AAAAAAAAAB.tex
!/compilationfiles/Begin.tex
!/compilationfiles/End.tex
!/compilationfiles/commands.4ht
!/compilationfiles/commands.sty
!/compilationfiles/config.mk4
!/compilationfiles/mathjax.cfg
