{% extends 'base_2cols_smallpadd.html' %}

{% block title %}nowa krawędź{% endblock %}

{% block main_content %}
{% include "includes/modal/vertex_choosing.html" with plen=8 query=vertices %}
<form id="add-new-edge-form" method="post">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Tworzenie nowej krawędzi" button="Utwórz" function="save()" %}
	<input type="hidden" id="hidden_action" value="" name="action">
	<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/singleframe/vertex_in_choosing.html' with this_vertex=predecessor chosen=pred_is_chosen my_id="pred" header="Początek (wierzchołek wyjściowy)" %}
	</div>
	<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/singleframe/vertex_in_choosing.html' with this_vertex=successor chosen=succ_is_chosen my_id="succ" header="Koniec (wierzchołek docelowy)" %}
	</div>
</form>
{% endblock %}
{% block side_content %}
{% include "includes/singleframe/FAQ.html" with in="FAQ/does_edge_have_to_have_start_pl.html" header="Czy krawędź musi mieć początek?" %}
{% include "includes/singleframe/FAQ.html" with in="FAQ/what_is_edge_without_successor_pl.html" header="Co to jest krawędź bez sukcesora?" %}
{% endblock %}
{% block javascript %}
<script>
function save() {
	if (CHOSEN_VID_pred != 'none') {
		document.getElementById("hidden_action").value += ',save,' + CHOSEN_VID_pred + ',' + CHOSEN_VID_succ;
		document.getElementById("add-new-edge-form").submit();
	}
	else {
		alert('Wierzchołek początkowy musi być wybrany.');
	}
}
</script>
{% endblock %}