{% extends 'base.html' %}

{% block title %}nowy dział{% endblock %}

{% load widget_tweaks %}

{% block content %}
<div class="maindiv mediumpadd">
	<form method="post" id="edit-path-form">
		{% csrf_token %}
		<div class="internal-menu sidepadd">
			<h4>Tworzenie nowego działu</h4>
			<button type="submit" name="save" style="margin-left: 25px;" class="btn btn-primary sgbutton">Utwórz</button>
		</div>
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<div class="distinctarea paddtop border border-primary rounded big-margin" style="max-width: 625px;">
			<h5 for="{{ form.polish_name.id_for_label }}">Nazwa polska</h5>
			{% render_field form.polish_name class="form-control SGformwidget" placeholder=form.polish_name.label %}
			{% for error in form.polish_name.errors %}
				<span class="help-block">{{ error }}</span>
			{% endfor %}
		</div>
	</form>
</div>
{% endblock %}