{% extends 'base.html' %}

{% block title %}nowa preambuła{% endblock %}

{% load widget_tweaks %}

{% block content %}
	<div class="maindiv mediumpadd">
		<form method="post">
			<div class="internal-menu sidepadd">
				<h4>Tworzenie nowej preambuły</h4>
				<button type="submit" style="margin-left: 25px;" class="btn btn-primary sgbutton">Utwórz</button>
			</div>
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			<div class="distinctarea paddtop border border-primary rounded big-margin" style="max-width: 625px;">
				<h5 for="{{ form.title.id_for_label }}">Tytuł</h5>
				{% render_field form.title class="form-control SGformwidget" placeholder=form.title.label %}
				{% for error in form.title.errors %}
					<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
			<div class="distinctarea paddtop border border-primary rounded big-margin" style="max-width: 625px;">
				<h5 for="{{ form.description.id_for_label }}">Opis (ułatwiający rozpoznanie)</h5>
				{% render_field form.description class="form-control SGformwidget" rows="3" placeholder=form.description.label %}
				{% for error in form.description.errors %}
					<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
			<div class="distinctarea paddtop border border-primary rounded big-margin" style="max-width: 625px;">
				<h5 for="{{ form.content.id_for_label }}">Treść</h5>
				{% render_field form.content class="form-control SGformwidget" rows="18" placeholder=form.content.label %}
				{% for error in form.content.errors %}
					<span class="help-block">{{ error }}</span>
				{% endfor %}
			</div>
		</form>
	</div>
{% endblock %}