{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}nowa dyscyplina{% endblock %}

{% block main_content %}
<form method="post">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Tworzenie nowej dyscypliny" button="Utwórz" %}
{% include "includes/widget.html" with widget=form.polish_name margin="big" header="Nazwa polska" %}
</form>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<a href="{% url 'all_disciplines' %}">Wszystkie dostępne dyscypliny</a>
</div>
{% endblock %}