{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}nowy wierzchołek{% endblock %}

{% load widget_tweaks %}

{% block main_content %}
{% include "includes/modal/dss_choosing.html" with query=subjects %}
<form method="post">
	{% csrf_token %}
	<div class="internal-menu sidepadd" >
		<h4>Tworzenie nowego wierzchołka</h4>
		<button type="submit" name="save" style="margin-left: 25px;" class="btn btn-primary sgbutton">Utwórz</button>
	</div>
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/singleframe/DSS_in_choosing.html' with this_subject=initial_subject %}
	</div>
	<div class="distinctarea paddtop border border-primary rounded big-margin">
		<h5 for="{{ form.title.id_for_label }}">Tytuł (nazwa)</h5>
		{% render_field form.title class="form-control" style="min-width:150px" placeholder=form.title.label %}
		{% for error in form.title.errors %}
			<span class="help-block">{{ error }}</span>
		{% endfor %}
	</div>
	<div class="distinctarea paddtop border border-primary rounded big-margin">
		<h5 for="{{ form.vertex_class.id_for_label }}">Rodzaj wierzchołka </h5>
		{% render_field form.vertex_class class="form-control" style="min-width:150px" placeholder=form.vertex_class.label %}
		{% for error in form.vertex_class.errors %}
			<span class="help-block">{{ error }}</span>
		{% endfor %}
		Możesz zaproponować <a href="{% url 'new_vertex_class' %}">utworzenie nowego</a>.
	</div>
</form>
{% endblock %}