{% extends 'base.html' %}

{% block title %}nowa krawędź{% endblock %}

{% load widget_tweaks %}

{% block content %}
	<div class="maindiv mediumpadd">
		<form id="add-new-edge" method="post">
			<div class="internal-menu sidepadd">
				<h4>Tworzenie nowej krawędzi</h4>
				<button type="button" id="save_button" style="margin-left: 25px;" class="btn btn-primary sgbutton">Utwórz</button>
				<a role="button" id="return_button" class="btn btn-secondary sgbutton" href="{% url 'edit_vertex' vertex_id=pred %}" style="margin-left: 15px;">Powrót</a>
			</div>
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			<input type="hidden" id="hidden_action" value="" name="action">
			<div class="div-column">
				<div style="flex: 4">
					<div class="distinctarea border border-primary rounded big-margin">
						<h4 for="{{ form.preamble.id_for_label }}">Preambuła</h4>
						{% render_field form.preamble class="form-control" style="width:100%; min-width:150px" placeholder=form.preamble.label %}
						{% for error in form.preamble.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}
						<a href="{% url 'new_preamble' %}">Utworzyć nową?</a>
					</div>
					<div class="distinctarea border border-primary rounded big-margin" style="padding-left: 0; padding-right: 0;">
						<h4 style="margin-left: 12px;">Początek (wierzchołek wyjściowy):</h4>
						{% include "common/choose_vertex.html" with plen=2 small=1 thisi=1 chosen=pred list=Plist %}
					</div>
					<div class="distinctarea border border-primary rounded big-margin" style="padding-left: 0; padding-right: 0;">
						<h4 style="margin-left: 12px;">Koniec (wierzchołek docelowy): </h4>
						{% include "common/choose_vertex.html" with plen=2 small=1 thisi=2 list=Slist %}
					</div>
				</div>
				<div style="flex: 2">
					<div class="distinctarea border border-primary rounded small-margin">
						<h5>Co to jest preambuła?</h5>
						{% include "FAQ/what_is_preamble_pl.html" %}
					</div>
					<div class="distinctarea border border-primary rounded small-margin">
						<h5>Czy krawędź musi mieć początek?</h5>
						{% include "FAQ/does_edge_have_to_have_start_pl.html" %}
					</div>
					<div class="distinctarea border border-primary rounded small-margin">
						<h5>Co to jest krawędź bez sukcesora?</h5>
						{% include "FAQ/what_is_edge_without_successor_pl.html" %}
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
{% block javascript %}
	<script>
	$(document).ready(function() {
		document.getElementById("save_button").addEventListener('click', function(event) {
			if (document.getElementById("chosen-one-1").getAttribute('data-chosen') == 'yes') {
				document.getElementById("hidden_action").value = 'beg:' + document.getElementById("chosen-one-1").innerHTML + ',end:' + document.getElementById("chosen-one-2").innerHTML;
				document.getElementById("add-new-edge").submit();
			}
			else {
				alert('Wierzchołek początkowy musi być wybrany.');
			}
		});
		tippy('#return_button', {content: 'Powrót do edycji wierzchołka',});
    });
	</script>
{% endblock %}