{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}nowa preambuła{% endblock %}

{% block main_content %}
<form method="post">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Tworzenie nowej preambuły" button="Utwórz" %}
{% include "includes/widget.html" with widget=form.title margin="big" header="Tytuł" %}
{% include "includes/widget.html" with widget=form.description margin="big" header="Opis" rows=3 %}
{% include "includes/widget.html" with widget=form.content margin="big" header="Treść" rows=8 %}
</form>
{% endblock %}
{% block side_content %}
{% include "includes/singleframe/FAQ.html" with in="FAQ/what_is_preamble_pl.html" header="Co to jest preambuła?" %}
{% include "includes/singleframe/FAQ.html" with in="FAQ/preamble_content_pl.html" header="Zawartość preambuły?" %}
{% endblock %}