{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}nowy dział{% endblock %}

{% block main_content %}
<h4>{{ this_discipline }}</h4>
<form method="post" id="edit-path-form">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Tworzenie nowego działu" button="Utwórz" %}
{% include "includes/widget.html" with widget=form.polish_name margin="big" header="Nazwa polska" %}
</form>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<a href="{% url 'all_disciplines' %}">Wszystkie dostępne dyscypliny</a>
	<br>
	<a href="{% url 'view_discipline' pk=this_discipline.pk %}">Wszystkie działy tej dyscypliny</a>
	<br>
	<a href="{% url 'edit_discipline' pk=this_discipline.pk %}">Edytuj tę dyscyplinę</a>
</div>
{% endblock %}