{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}nowy temat{% endblock %}

{% block main_content %}
<h4>{{ this_section.discipline }}, {{ this_section }}</h4>
<form method="post">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Tworzenie nowego tematu" button="Utwórz" %}
{% include "includes/widget.html" with widget=form.polish_name margin="big" header="Nazwa polska" %}
</form>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<a href="{% url 'all_disciplines' %}">Wszystkie dostępne dyscypliny</a>
	<br>
	<a href="{% url 'view_discipline' pk=this_section.discipline.pk %}">Wszystkie działy tej dyscypliny</a>
	<br>
	<a href="{% url 'edit_discipline' pk=this_section.discipline.pk %}">Edytuj tę dyscyplinę</a>
	<br>
	<a href="{% url 'view_section' pk=this_section.pk %}">Wszystkie tematy tego działu</a>
	<br>
	<a href="{% url 'edit_section' pk=this_section.pk %}">Edytuj ten dział</a>
</div>
{% endblock %}