{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}wszystkie dyscypliny{% endblock %}

{% block main_content %}
{% url 'new_discipline' as href %}
{% include "includes/simple_header_with_a.html" with text="Wszystkie dyscypliny utworzone w SystemGraph" atext="Utwórz nową dyscyplinę" %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
{% for disc in disciplines %}
{% include 'includes/singleframe/discipline.html' with this_disc=disc edit_yes=user.is_authenticated %}
{% endfor %}
</div>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<a href="{% url 'new_vertex_class' %}">Zaproponuj nowy rodzaj wierzchołka</a>
</div>
{% endblock %}