{% extends 'base.html' %}

{% block title %}edycja ścieżki{% endblock %}

{% load widget_tweaks %}

{% block content %}
<div class="maindiv smallpadd">
{% include "common/vertex_choosing.html" with plen=8 query=vertices add=1 %}
	<form method="post" id="edit-path-form">
		{% csrf_token %}
		<input type="hidden" id="hidden_action" value="" name="action">
		<div class="internal-menu sidepadd">
			<h4>Edycja ścieżki</h4>
			<button type="submit" name="save" style="margin-left: 25px;" class="btn btn-primary sgbutton">Zapisz</button>
			<button type="button" class="btn btn-warning sgbutton" onclick="delete_this()">Usuń ścieżkę</button>
		</div>
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<div class="distinctarea border border-primary rounded big-margin" style="max-width: 625px;">
			<h5 for="{{ form.name.id_for_label }}">Nazwa</h5>
			{% render_field form.name class="form-control SGformwidget" placeholder=form.name.label %}
			{% for error in form.name.errors %}
				<span class="help-block">{{ error }}</span>
			{% endfor %}
		</div>
		<div class="distinctarea border border-primary rounded big-margin" style="max-width: 625px;">
			<h5 for="{{ form.description.id_for_label }}">Opis</h5>
			{% render_field form.description rows="3" class="form-control SGformwidget" placeholder=form.description.label %}
			{% for error in form.description.errors %}
				<span class="help-block">{{ error }}</span>
			{% endfor %}
		</div>
		<h4 class="big-margin">Kolejne wierzchołki ścieżki</h4>
		<a class="border border-warning rounded big-margin" style="padding: 8px;" onclick="add_new_to_path(0)" href="#">Dodaj na początku</a>
		<div class="distinctarea border border-primary rounded big-margin">
{% include 'common/vertex_singleframe_in_choosing.html' with this_vertex=first chosen="1" my_id="1" header="Wierzchołek początkowy" mtitle="Zmień wierzchołek nr 1" %}
		</div>
		{% for vert in the_rest %}
		{% with ii=forloop.counter|add:'1'|stringformat:"s" %}
		{% with head="Wierzchołek nr "|add:ii %}
		{% with mt="Zmień wierzchołek nr "|add:ii %}
		<a class="border border-warning rounded big-margin" style="padding: 8px;" onclick="add_new_to_path({{ forloop.counter }})" href="#">Dodaj tutaj</a>
		<div class="distinctarea border border-primary rounded big-margin">
			{% include 'common/vertex_singleframe_in_choosing.html' with this_vertex=vert chosen="1" my_id=ii header=head mtitle=mt %}
		</div>
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endfor %}
		<a class="border border-warning rounded big-margin" style="padding: 8px;" onclick="add_new_to_path('end')" href="#">Dodaj na końcu</a>
	</form>
</div>
{% endblock %}
{% block javascript %}
<script>
function delete_this() {
	var choice = confirm('Czy na pewno? \nŚcieżka zostanie usunięta na stałe.');
	if (choice) {
		document.getElementById("hidden_action").value += ',delete';
		document.getElementById("edit-path-form").submit();
	}
}
function add_new_to_path(which) {
	CHANGE_CALLER = null;
	ADD_CALLER = which;
	var title;
	if (which == 'end') {
		title = "Dodaj wierzchołek na końcu";
	}
	else if (which > 0) {
		title = "Dodaj wierzchołek za wierzchołkiem nr " + which;
	}
	else {
		title = "Dodaj wierzchołek na początku";
	}
	MODAL_TITLE( title );
	MODAL_SHOW();
}
$(document).ready(function() {
});
</script>
{% endblock %}