{% extends 'base.html' %}

{% block title %}Edit edge{% endblock %}

{% load widget_tweaks %}

{% block content %}
<div class="maindiv mediumpadd">
{% include "common/vertex_choosing.html" with plen=8 query=vertices %}
	<form method="post" id="edit-edge-form">
		<input type="hidden" id="hidden_action" value="" name="action">
		<div class="internal-menu space-between sidepadd">
			<h4>Edycja krawędzi</h4>
			<button type="button" class="btn btn-secondary sgbutton" onclick="save()">Zapisz&nbspbez kompilacji</button>
			<button type="button" id="compile_all" name="compile" class="btn btn-primary sgbutton">Zapisz i kompiluj</button>
			{% if predecessor %}<a role="button" id="return_button" class="btn btn-secondary sgbutton" href="{% url 'edit_vertex' vertex_id=predecessor.vertex_id %}">Powrót</a>{% endif %}
			<button type="button" class="btn btn-warning sgbutton" onclick="delete_this()">Usuń krawędź</button>
		</div>
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<div class="distinctarea paddtop border border-primary rounded medium-margin">
			<h5>Początek (wierzchołek wyjściowy)</h5>
			{% include 'common/vertex_singleframe.html' with this_vertex=predecessor %}
		</div>
		<div class="distinctarea paddtop border border-primary rounded medium-margin">
			{% include 'common/vertex_singleframe_in_choosing.html' with this_vertex=successor chosen=is_chosen my_id="succ" header="Koniec (wierzchołek docelowy)" %}
		</div>
		<div class="flexonwidth" style="width: 100%;">
			<div class="distinctarea paddtop border border-primary rounded medium-margin" style="flex:1; flex-grow: 3;">
				<div class="form-group" style="display: block;">
					<h5 for="{{ form.preamble.id_for_label }}" style="text-align: left">Preambuła: </h5>
					{% render_field form.preamble class="form-control" style="min-width:150px" placeholder=form.preamble.label %}
					{% for error in form.preamble.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
					<a href="{% url 'new_preamble' %}">Utworzyć nową?</a>
				</div>
				<div class="form-group" style="display: block;">
					<h5 for="{{ form.content.id_for_label }}" style="text-align: left">Treść (nadpisująca domyślny opis wierzchołka):</h5>
					{% render_field form.content class="form-control" rows="3" style="min-width:150px" placeholder=form.content.label %}
					{% for error in form.content.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
			</div>
			<div class="distinctarea paddtop border border-primary rounded medium-margin" style="flex-grow: 1;">
				<span style="text-align: center;">Log kompilacji</span>
				<div style="width: 100%; height: 100%;">
					<textarea readonly id="js_comms" style="width: 100%; height: 100%;"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% block javascript %}
<script>
function save() {
	document.getElementById("hidden_action").value += ',save,' + CHOSEN_VID_succ;
	document.getElementById("edit-edge-form").submit();
}
function delete_this() {
	var choice = confirm('Czy na pewno? \nKrawędź zostanie usunięta na stałe.');
	if (choice) {
		document.getElementById("hidden_action").value += ',delete';
		document.getElementById("edit-edge-form").submit();
	}
}

function check_for_messages(what) {
	document.getElementById("js_comms").value += 'Compilation begun';
	var still = true;
	var m = [];
	var len = 0;
	var i = 0;
	while (still) {
		still = false;
		$.ajax({
			url: '{% url "check_compilation" %}',
			type: 'post',
			async: false,
			data: {
				'object': '{{ edge_id }}',
				'object_type': 'edge'
			},
			dataType: 'json',
			success: function (data) {
				still = data.still;
				for (var j = len; j < data.messages.length; j++) {
					document.getElementById("js_comms").value += "\n" + data.messages[j];
					len++;
				}
				m = data.messages;
			},
			failure: function(data) { 
				still = false;
			}
		});
	}
	document.getElementById("js_comms").value += "\n"
}
$(document).ready(function() {
	document.getElementById("compile_all").addEventListener('click', function(event) {
		$.ajax({
			url: '{% url "compile_edge" edge_id=edge_id %}',
			type: 'post',
			data: {
				'content': $("#id_content").val()
			},
			dataType: 'json'
		});
		$.ajax({
			url: '{% url "save_edge" edge_id=edge_id %}',
			type: 'post',
			data: {
				'content': $("#id_content").val(),
				'successor': $("#id_successor").val(),
				'preamble': $("#id_preamble").val(),
			},
			dataType: 'json'
		});
		check_for_messages();
	});
	{% if predecessor %}tippy('#return_button', {content: 'Powrót do edycji wierzchołka',});{% endif %}
});
</script>
{% endblock %}