{% extends 'base.html' %}

{% block title %}edycja wierzchołka{% endblock %}

{% load widget_tweaks %}
{% block content %}
<div class="maindiv smallpadd">
{% include "includes/modal/compilation_log.html" %}
{% include "includes/modal/dss_choosing.html" with query=subjects %}
	<form method="post" id="edit-vertex-form">
		{% csrf_token %}
		<input type="hidden" id="hidden_action" value="" name="action">
		<div class="div-column">
			<div style="flex: 4">
				<div class="internal-menu around sidepadd">
					<h3>Edycja <a id="vertex_view">wierzchołka</a></h3>
					<button type="button" class="btn btn-secondary sgbutton" onclick="vertex_save_all_dont_compile()" id="button_save_both">Zapisz wszystko</button>
					<button type="button" class="btn btn-primary sgbutton" onclick="vertex_compile_all()" id="button_compile_both">Opublikuj</button>
					<button type="button" class="btn btn-warning sgbutton" onclick="delete_this()">Usuń wierzchołek</button>
				</div>
				<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/singleframe/DSS_in_choosing.html' with this_subject=this_subject %}
				</div>
				<div class="distinctarea paddtop border border-primary rounded big-margin">
					<h5 for="{{ form.title.id_for_label }}" style="text-align: left">Tytuł </h5>
					{% render_field form.title class="form-control" style="width:100%; min-width:150px; margin-bottom: 8px;" placeholder=form.title.label %}
					{% for error in form.title.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
					<div style="width: auto">
						<label for="{{ form.ifshorttitle.id_for_label }}" class="inline_desc" style="float: left; margin-right: 10px; padding-top: 7px;">Krótki tytuł</label>
						<div style="overflow: hidden;">{% render_field form.shorttitle class="form-control box-block-100" style="width:100%; min-width:150px" placeholder=form.shorttitle.label %}</div>
						{% for error in form.shorttitle.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>
{% include "includes/widget.html" with widget=form.vertex_class margin="big" header="Rodzaj wierzchołka" %}
			</div>
			<div style="flex: 2">
				<br>
{% include "includes/singleframe/FAQ.html" with in="FAQ/what_is_submition_pl.html" header="Co to jest publikacja wierzchołka?" %}
			</div>
		</div>
		<div class="distinctarea border border-primary rounded big-margin">
			<div class="h5withbuttons">
				<h5>Wychodzące krawędzie</h5>
				<button type="submit" name="newedge" class="btn btn-secondary btn-sm">Utwórz nową</button>
			</div>
			{% if outgoing_edges %}
			<div style="background: #cacaca;">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">ID krawędzi:</th>
							<th scope="col">Wierzchołek docelowy:</th>
							<th scope="col">Opis (nadpisany opis wierzchołka docelowego)</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for edge in outgoing_edges %}
						<tr>
							<td>{{ edge.edge_id }}</td>
							<td><a href="{{ edge.get_successor_url }}" class="fancy-a">{{ edge.successor.title }}</a></td>
							<td>{{ edge.get_content|safe }}</td>
							<td><a  class="btn btn-secondary btn-sm" href="{% url 'edit_edge' edge_id=edge.edge_id %}" role="button">Edytuj</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
				<small>(brak)</small>
			{% endif %}
		</div>
{% include "includes/singleframe/FAQ.html" with in="FAQ/edge_in_compilation_pl.html" header="Czym są krawędzie i jak ich używać?" %}
		<div class="div-column">
			<div style="flex: 4">
{% include "includes/widget.html" with widget=form.preamble margin="big" header="Preambuła" %}
				<div class="distinctarea border border-primary rounded big-margin">
					<div class="h5withbuttons">
						<h5 for="{{ form.content.id_for_label }}">Treść</h5>
						<button type="button" class="btn btn-secondary sgbutton" onclick="save_cont_and_desc()" id="button_save_content">Zapisz</button>
						<button type="button" class="btn btn-primary sgbutton" onclick="vertex_compile_cont()" id="button_compile_content">Zapisz i kompiluj</button>
					</div>
					{% render_field form.content class="form-control" rows="7" style="width:100%; min-width:150px" placeholder=form.content.label %}
					{% for error in form.content.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="distinctarea border border-primary rounded big-margin">
					<div class="h5withbuttons">
						<h5 for="{{ form.description.id_for_label }}">Skrócona forma lub opis</h5>
						<button type="button" class="btn btn-secondary sgbutton" onclick="save_cont_and_desc()" id="button_save_description">Zapisz</button>
						<button type="button" class="btn btn-primary sgbutton" onclick="vertex_compile_desc()" id="button_compile_description">Zapisz i kompiluj</button>
					</div>
					{% render_field form.description class="form-control" rows="3" style="width:100%; min-width:150px" placeholder=form.description.label %}
					{% for error in form.description.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
			</div>
			<div style="flex: 2">
{% include "includes/singleframe/FAQ.html" with in="FAQ/what_is_preamble_pl.html" header="Co to jest preambuła?" %}
{% include "includes/singleframe/FAQ.html" with in="FAQ/what_is_latex_pl.html" header="Kompilacja i LaTeX" %}
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% block javascript %}
<script>
var vertex_id = "{{ vertex_id }}";
function delete_this() {
	var choice = confirm('Czy na pewno? \nWierzchołek zostanie usunięty na stałe.');
	if (choice) {
		document.getElementById("hidden_action").value += ',delete';
		document.getElementById("edit-vertex-form").submit();
	}
}
function is_submitted() {
	var a = document.getElementById("vertex_view");
	a.classList.add("fancy-a");
	a.href = "{% url 'view_vertex' vertex_id=vertex_id %}";
}
function save_cont_and_desc() {
	$.ajax({
		url: '{% url "save_vertex_cd" vertex_id=vertex_id %}',
		type: 'post',
		async: false,
		data: {
			'content': document.getElementById("id_content").value,
			'description': document.getElementById("id_description").value
		},
		dataType: 'json'
	});
}
function check_for_messages(desc, mlength) {
	var still;
	var error;
	var m = [];
	$.ajax({
		url: '{% url "check_compilation" %}',
		type: 'post',
		async: false,
		data: {
			'vertex_id': vertex_id,
			'desc': desc,
			'mlength': mlength
		},
		dataType: 'json',
		success: function (data) {
			still = data.still;
			error = data.error;
			m = data.messages;
		},
		failure: function(data) { 
			still = false;
			error = true;
		}
	});
	return [still, error, m];
}
function update_compilation(desc) {
	var still = true;
	var error = false;
	var messages = [];
	var mlength = 0;
	while (still) {
		[still, error, messages] = check_for_messages(desc, mlength);
		if (messages) {
			COMP_MODAL_SHOW();
			LOG_MESSAGES(messages);
		}
		mlength += messages.length;
	}
	return error;
}
function run_content_compilation() {
	var ok;
	var error_message = '';
	$.ajax({
		url: '{% url "start_vertex_cont_compilation" vertex_id=vertex_id %}',
		type: 'post',
		async: false,
		data: {
			'content': document.getElementById("id_content").value,
			'preamble': $("#id_preamble").val(),
		},
		dataType: 'json',
		success: function (data) {
			ok = data.ok;
			error_message = data.error_message;
		},
		failure: function(data) { 
			ok = false;
		}
	});
	if (error_message) {
		alert(error_message);
		return true;
	}
	else if (ok) {
		COMP_MODAL_SHOW();
		var error = update_compilation(false);
		if (!error) {
			is_submitted();
		}
		return error;
	}
	return true;
}
function run_desc_compilation() {
	var ok;
	var error_message = '';
	$.ajax({
		url: '{% url "start_vertex_desc_compilation" vertex_id=vertex_id %}',
		type: 'post',
		async: false,
		data: {
			'description': document.getElementById("id_description").value,
			'preamble': $("#id_preamble").val(),
		},
		dataType: 'json',
		success: function (data) {
			ok = data.ok;
			error_message = data.error_message;
		},
		failure: function(data) { 
			ok = false;
		}
	});
	if (error_message) {
		alert(error_message);
		return true;
	}
	else if (ok) {
		COMP_MODAL_SHOW();
		return update_compilation(true);
	}
	return true;
}
function vertex_save_all_dont_compile() {
	save_cont_and_desc();
	document.getElementById("hidden_action").value += ',save';
	document.getElementById("edit-vertex-form").submit();
}
function vertex_compile_all() {
	save_cont_and_desc();
	
	var error = run_content_compilation();
	if (!error) {
		error = run_desc_compilation();
	}
	if (!error) {
		document.getElementById("hidden_action").value += ',save';
		document.getElementById("edit-vertex-form").submit();
	}
}
function vertex_compile_desc() {
	save_cont_and_desc();
	run_desc_compilation();
}
function vertex_compile_cont() {
	save_cont_and_desc();
	run_content_compilation();
}
$(document).ready(function() {
	tippy('#button_save_both', {content: 'Nie uruchamiaj kompilacji',});
	tippy('#button_compile_both', {content: 'Zapisz wszystko i kompiluj wszystko',});
	tippy('#button_save_content', {content: 'Zapisz poniższą treść',});
	tippy('#button_compile_content', {content: 'Zapisz i kompiluj poniższą treść',});
	tippy('#button_save_description', {content: 'Zapisz poniższy opis',});
	tippy('#button_compile_description', {content: 'Zapisz i kompiluj poniższy pis',});{% if submitted %}
	is_submitted();
	{% endif %}
});
</script>
{% endblock %}