{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}{{ this_discipline }} - działy{% endblock %}

{% block main_content %}
<h4>{{ this_discipline }}</h4>
{% url 'new_section' as href %}
{% include "includes/simple_header_with_a.html" with text="Wszystkie dostępne działy" atext="Utwórz nowy dział" %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
{% for sec in sections %}
{% include 'includes/singleframe/section.html' with this_sec=sec edit_yes=user.is_authenticated %}
{% endfor %}
</div>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<a href="{% url 'all_disciplines' %}">Wszystkie dostępne dyscypliny</a>
	<br>
	<a href="{% url 'edit_discipline' pk=this_discipline.pk %}">Edytuj tę dyscyplinę</a>
	<br>
	<a href="{{ this_discipline.get_add_new_vertex_url }}">Utwórz nowy wierzchołek</a>
	<br>
	<a href="{% url 'new_vertex_class' %}">Zaproponuj nowy rodzaj wierzchołka</a>
</div>
{% endblock %}