{% extends 'base.html' %}

{% block title %}wierzchołek{% endblock %}

{% block content %}
{% include "graph/view_vertex/top.html" with list=top %}
<div class="vv_big_midrow_frame" id="the_innerframe">
{% include "graph/view_vertex/left.html" with list=left %}
	<div class="vv_big_centcol_frame" >
{% include "graph/view_vertex/center.html" %}
	</div>
{% include "graph/view_vertex/right.html" with list=right %}
</div>
{% include "graph/view_vertex/bottom.html" with list=bottom %}
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() { 
	{% for link in links %}
	tippy('#{{ link.id }}', {content: '{{ link.content|safe }}',});
	document.getElementById("{{ link.id }}").href="{{ link.succ_url }}";{% endfor %}
});
</script>
{% endblock %}