{% extends 'base.html' %}

{% block title %}{{ this_discipline }} - działy{% endblock %}

{% load widget_tweaks %}

{% block content %}
<div class="maindiv smallpadd">
	<h4>{{ this_discipline }}</h4>
	<div class="div-column">
		<div style="flex: 2">
			<div class="flexonwidth sidepadd paddtop"> 
				<h4>Wszystkie dostępne działy</h4>
				<a href="{% url 'new_section' parent_pk=this_discipline.pk %}" class="btn btn-primary" role="button">Utwórz nowy dział</a>
			</div>
			<div class="distinctarea paddtop border border-primary rounded big-margin">
{% for sec in sections %}
{% include 'common/section_singleframe.html' with this_sec=sec edit_yes=user %}
{% endfor %}
			</div>
		</div>
		<div style="flex: 1">
			<div class="distinctarea paddtop border border-primary rounded big-margin">
				<a href="{% url 'all_disciplines' %}">Wszystkie dostępne dyscypliny</a>
				<br>
				<a href="{% url 'edit_discipline' pk=this_discipline.pk %}">Edytuj tę dyscyplinę</a>
			</div>
			<br>
			<div class="distinctarea paddtop border border-primary rounded big-margin">
				<h5>test</h5>
			</div>
		</div>
	</div>
</div>
{% endblock %}