{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}{{ this_section }} - tematy{% endblock %}

{% block main_content %}
<h4>{{ this_section.discipline }}, {{ this_section }}</h4>
{% url 'new_subject' parent_pk=this_section.pk as href %}
{% include "includes/simple_header_with_a.html" with text="Wszystkie dostępne tematy" atext="Utwórz nowy temat" %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
{% for sub in subjects %}
{% include 'includes/singleframe/subject.html' with this_sub=sub edit_yes=user %}
{% endfor %}
</div>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<a href="{% url 'all_disciplines' %}">Wszystkie dostępne dyscypliny</a>
	<br>
	<a href="{% url 'view_discipline' pk=this_section.discipline.pk %}">Wszystkie działy tej dyscypliny</a>
	<br>
	<a href="{% url 'edit_discipline' pk=this_section.discipline.pk %}">Edytuj tę dyscyplinę</a>
	<br>
	<a href="{% url 'edit_section' pk=this_section.pk %}">Edytuj ten dział</a>
	<br>
	<a href="{% url 'new_vertex_class' %}">Zaproponuj nowy rodzaj wierzchołka</a>
</div>
{% endblock %}