<div class="SG-modal" id="SG-modal-choosing">
	<div class="SG-modal-content">
		<header style="position: relative; padding: 20px; 0">
			<span id="modal-title" style="font-size: x-large;">Wybór wierzchołka</span>
			<span class="close-button" id="close_modal_choosing_button"></span>
		</header>
		{% if query %}
		<table class="table table-striped border border-primary rounded" id="modal_choose_table" style="font-size: {% if small %}small;{% else %}15px;{% endif %}">
			<thead>
				<tr>
					<th scope="col">ID{% if not small %} wierzchołka{% endif %}</th>
					<th scope="col">Tytuł</th>
					<th scope="col">Data{% if not small %} dodania{% endif %}</th>
					<th scope="col">Autor</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody id="modal_tbody" class="modal_hidden_add_butts">
				{% for vertex in query %}
				<tr>
					<td><a href="{% url 'view_vertex' vertex_id=vertex.vertex_id %}" class="fancy-a">{{ vertex.vertex_id }}</a></td>
					<td>{{ vertex.title }}</td>
					<td>{{ vertex.date.date|date:"Y.m.d" }}</td>
					<td>{{ vertex.user.username }}</td>
					<td>
					{% if add %}
						<button class="add_button" name="modal-add-button" type="button" onclick="modal_add_this_one('{{ vertex.vertex_id }}')" {% if small %}style="font-size:11px;"{% endif %}>Dodaj</button>
					{% endif %}
						<button class="choose_button" name="modal-choose-button" type="button" onclick="modal_choose_this_one('{{ vertex.vertex_id }}')" {% if small %}style="font-size:11px;"{% endif %}>Wybierz</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h5>Brak wyników</h5>
		{% endif %}
	</div>
</div>
<script>
var CF_DISPLAY;
var ADD_CALLER = null;
var CHANGE_CALLER = null;
{% if add %}
function modal_add_this_one(which) {
	$.ajax({
		url: '{% url "add_vertex_to_path_from_id" %}',
		type: 'post',
		async: false,
		data: {
			'path_id': "{{ this_path.path_id }}",
			'vid': which,
			'where': ADD_CALLER
		},
		dataType: 'json',
		success: function (data) {
			location.reload(true);
		}
	});
}
function modal_choose_this_one(which) {
	$.ajax({
		url: '{% url "change_vertex_in_path_from_id" %}',
		type: 'post',
		async: false,
		data: {
			'path_id': "{{ this_path.path_id }}",
			'vid': which,
			'where': CHANGE_CALLER
		},
		dataType: 'json',
		success: function (data) {
			location.reload(true);
		}
	});
}{% else %}
function modal_choose_this_one(which) {
	$.ajax({
		url: '{% url "get_vertex_from_id" %}',
		type: 'post',
		async: false,
		data: {
			'vid': which
		},
		dataType: 'json',
		success: function (data) {
			CF_DISPLAY(data.vertex);
			MODAL_HIDE();
		}
	});
}{% endif %}

var mt = document.getElementById("modal-title");
function MODAL_TITLE(title) {
	mt.innerHTML = title;
}

function MODAL_SHOW() {
	{% if add %}var adds = document.getElementsByName("modal-add-button");
	var chooses = document.getElementsByName("modal-choose-button");
	if (ADD_CALLER === null) {
		document.getElementById('modal_tbody').className = 'modal_hidden_add_butts';
	}
	else {
		document.getElementById('modal_tbody').className = 'modal_hidden_change_butts';
	}{% endif %}
	document.getElementById("SG-modal-choosing").style.display = "block";
}

function MODAL_HIDE() {
	document.getElementById("SG-modal-choosing").style.display = "none";
}

var ftext = ['ID', 'tytuł', 'datę', 'autora'];
var idtext = ['id', 'title', 'date', 'author'];
$(document).ready(function() {
	var modal_ch = document.getElementById("SG-modal-choosing");
	MODAL_HIDE();
	document.getElementById("close_modal_choosing_button").onclick = function() {
		MODAL_HIDE();
	}
	window.onclick = function(event) {
		if (event.target == modal_ch) {
			MODAL_HIDE();
		}
	}
	$('#modal_choose_table thead tr').clone(true).appendTo( '#modal_choose_table thead' );
	$('#modal_choose_table thead tr:eq(1) th').each( function (i) {
		if (i < ftext.length) {
			var title = $(this).text();
			$(this).html( '<input type="text" style="width: 100%;" id="input-' + idtext[i] + '" placeholder="filtruj ' + ftext[i] + '" />' );

			$( 'input', this ).on( 'keyup change', function () {
				if ( table.column(i).search() !== this.value ) {
					table
						.column(i)
						.search( this.value )
						.draw();
				}
			} );
		}
		$(this).css( 'padding', '6px 4px');
	} );
	
	$('#modal_choose_table thead tr:eq(0) th').each( function (i) {
		$(this).css( 'background-color', 'white');
	} );
	
	
	var table = $('#modal_choose_table').DataTable({
		orderCellsTop: true,
		"pageLength": {{ plen }},
		"bLengthChange": false,
		"bFilter": true,
		"pagingType": "simple",
	});
	
	$('#modal_choose_table').css( 'min-width', 'min-content');
	$('#modal_choose_table').css( 'width', '100%');
	$('#input-id').css( 'min-width', '50px');
	$('#input-title').css( 'min-width', '120px');
	$('#input-date').css( 'min-width', '60px');
	$('#input-author').css( 'min-width', '80px');
});
</script>