<div class="FAQ_answer">
	<p>Połączenie dwóch wierzchołków krawędzią sprawia, że zaczynają być uznawane za "bliższe" sobie, np. jeden ma wyższy priorytet w ukazywaniu się w "proponowanych" drugiego.</p>
	<p>Możesz także nadpisać opis docelowego wierzchołka, tym samym unikalnie komentując przejście myślowe od pierwszego do drugiego.</p>
	<p>Do treści wierzchołka wyjściowego możesz dodawać hiperłącza do wierzchołka docelowego. Efekt ten uzyskasz za pomocą znacznika \sglink. Znacznik ten jest dwuargumentowy: jego pierwszym argumentem jest tekst, który ma stać się hiperłączem (znacznikiem &lt;a&gt;), a drugim jest ID krawędzi. Na przykład \sglink{Witaj świecie}{EAAAAAAAAA}</p>
	<p>Po najechaniu na wyżej opisane hiperłącze pojawi się opis wierzchołka docelowego. Jeżeli dana krawędź nadpisuje ten opis, pojawi się zamiast tego owa treść krawędzi.</p>
</div>