<div class="FAQ_answer">
	<p>W SystemGraph treść jest zapisana w formie grafu, co może nastręczać trudności przy przeglądaniu treści w sposób zorganizowany. Ścieżka jest po prostu listą kolejnych wierzchołków.</p>
	<p>Każdy zalogowany użytkownik może stworzyć ścieżkę dowolnej długości, przechodzącą przez dowolne opublikowane wierzchołki, dowolną liczbę razy. Następnie każdy może wejść w widok wierzchołka w kontekście przeglądania obecnej ścieżki.</p>
	<p>Liczba ścieżek, jaką może stworzyć jeden użytkownik jest nieograniczona. Każda utworzona ścieżka jest widoczna dla innych użytkowników.</p>
	<p>Widok wierzchołka w kontekście ścieżki ma inny adres url niż prosty widok wierzchołka, więc można dzielić się adresami url bezpośrednio do ścieżki.</p>
</div>