<div class="FAQ_answer">
	<p>Wierzchołek docelowy - sukcesor - nie musi być określony.</p>
	<p>Krawędź bez sukcesora po kompilacji znacznika \sglink nie będzie hiperłączem, ale nadal może wyświetlać treść krawędzi po najechaniu na odnośnik.</p>
	<p>Standardowym użyciem krawędzi bez sukcesora jest zabieg analogiczny do <a id="no-successor-example" class="fancy-a" href="#">wtrącenia myśli w nawiasach.</a></p>
	<script>
		tippy('#no-successor-example', {content: 'Co wpisuje się filozofię SystemGraph oszczędzania tekstu właściwego.',});
	</script>
</div>