<div class="FAQ_answer">
	<p>W SystemGraph treść i ewentualny opis wierzchołka i krawędzi muszą być napisane w języku znaczników LaTeX. Podczas publikacji zostają skompilowane do formatu HTML.</p>
	<p>Każdy dokument LaTeX składa się z preambuły i dokumentu właściwego. Mając na uwagę wygodę (wielokrotne użycie) i funkcjonalność, w SystemGraph trzymamy preambuły osobno i łączymy je z dokumentami właściwymi automatycznie podczas kompilacji.</p>
	<p>Każdy użytkownik może używać preambuł domyślnych. Jeśli chcesz publikować po polsku pamiętaj, aby używać preambuły, która to umożliwia.</p>
</div>