<div class="FAQ_answer">
	<p>W SystemGraph kompilacja odbywa się od języka LaTeX do HTML. LaTeX jest językiem znaczników, o którym można myśleć, jako o poszerzeniu zwykłego tekstu. <a href="http://www.latex-kurs.x25.pl/">Poczytaj więcej.</a></p>
	<p>Jeżeli po prostu chcesz skompilować polski tekst, nie musisz znać LaTeXa; wystarczy, że użyjesz preambuły obsługującej język polski.</p>
	<p>LaTeX ma szerokie zastosowania, za którymi SystemGraph jedynie próbuje nadążyć. Użycie niestandardowych znaczników może nie dawać oczekiwanych rezultatów.</p>
</div>