<div class="include_div">
	{% if results %}
	<table class="table table-striped border border-primary rounded" id="search-table" style="font-size: 15px;">
		<thead>
			<tr>
				<th scope="col">Nazwa użytkownika</th>
				<th scope="col">Email</th>
				<th scope="col">Liczba wierzchołków</th>
			</tr>
		</thead>
		<tbody>
			{% for user in results %}
			<tr>
				<td><a href="{% url 'profile' username=user.username %}" class="fancy-a">{{ user.username }}</a></td>
				<td>{{ user.email }}</td>
				<td>{{ user.how_many_vertices }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h5>Brak wyników</h5>
	{% endif %}
</div>
<script>
var ftext = ['nazwę', 'email'];
var idtext = ['username', 'email'];
$(document).ready(function() {
	$('#search-table thead tr').clone(true).appendTo( '#search-table thead' );
	$('#search-table thead tr:eq(1) th').each( function (i) {
		if (i < ftext.length) {
			var title = $(this).text();
			$(this).html( '<input type="text" style="width: 100%;" id="input-' + idtext[i] + '" placeholder="filtruj ' + ftext[i] + '" />' );
	 
			$( 'input', this ).on( 'keyup change', function () {
				if ( table.column(i).search() !== this.value ) {
					table
						.column(i)
						.search( this.value )
						.draw();
				}
			} );
		}
		else {
			$(this).html('');
		}
		$(this).css( 'padding', '6px 4px');
	} );
	
	$('#search-table thead tr:eq(0) th').each( function (i) {
		$(this).css( 'background-color', 'white');
	} );
	
	var table = $('#search-table').DataTable({
		orderCellsTop: true,
		"pageLength": {{ plen }},
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
			"sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
			"sInfoEmpty": "Showing 0 to 0 of 0 entries"
		},
		"pagingType": "simple",
	});
	
	$('#search-table').css( 'min-width', 'min-content');
	$('#search-table').css( 'width', '100%');
	$('#input-username').css( 'min-width', '100px');
	$('#input-email').css( 'min-width', '140px');
});
</script>