<div class="list_header_container">
	<div class="header"><h5>{{ header }}</h5></div>
	<div class="buttons">{% if show_all %}
		<a type="button" class="btn btn-outline-dark" href="{% url 'all_user_verticies' username=this_user.username %}">Pokaż wszystkie</a>{% endif %}{% if add_new %}
		<a href="{% url 'new_vertex' %}" class="btn btn-primary" role="button">Utwórz nowy wierzchołek</a>{% endif %}
	</div>
</div>{% if vertices %}{% for vert in vertices %}
{% include 'includes/singleframe/vertex.html' with this_vertex=vert %}{% endfor %}{% else %}
<small>(brak)</small>
{% endif %}