{% extends 'base_2cols_smallpadd.html' %}

{% block title %}o SystemGraph{% endblock %}

{% block main_content %}
<h5>O tej witrynie</h5>
<p>
Projekt SystemGraph oryginalnie powstał jako część pracy magisterskiej Jakuba Tomczaka pt. "Konstrukcja aplikacji wykorzystującej grafy skierowane do modelowania systemu teoretycznego" oddanej pod promotorstwem dr. Jacka Gruszki, w 2019 roku na Instytucie Matematyki Wydziału Elektrycznego Politechniki Poznańskiej.
</p>
<p>
SystemGraph jest projektem <i>open source</i> i jego repozytorium można znaleźć <a href="https://github.com/JakTomczak/SystemGraph">tutaj</a>. Wszelka pomoc jest mile widziana.
</p>
<p>
Wszelkie uwagi prosimy kierować na <a href="mailto:jak.tomczak@gmail.com">ten email</a>.
</p>
{% endblock %}