<div class="include_div">
	{% if list %}
	<div class="{% if small %}small{% else %}big{% endif %}-margin">
		<span>Wybrany: </span>
		<span id="chosen-one-{{ thisi }}" data-chosen='no'>-</span>
		<button type="button" class="btn btn-secondary sgbutton" id="clean_button-{{ thisi }}" style="margin-bottom: 5px; float: right;" onclick="no_choice_{{ thisi }}()">Wyczyść zaznaczenie</button>
		{% if okbutton %}
		<button class="btn btn-primary sgbutton" id="chok_button-{{ thisi }}" style="margin-left: 15px;">OK</button>
		{% endif %}
	</div>
	<table class="table table-striped border border-primary rounded" id="search-table-{{ thisi }}" style="font-size: {% if small %}small;{% else %}15px;{% endif %}">
		<thead>
			<tr>
				<th scope="col">ID{% if not small %} wierzchołka{% endif %}</th>
				<th scope="col">Tytuł</th>
				<th scope="col">Data{% if not small %} dodania{% endif %}</th>
				<th scope="col">Autor</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for vertex in list %}
			<tr>
				<td><a href="{% url 'view_vertex' vertex_id=vertex.vertex_id %}" class="fancy-a">{{ vertex.vertex_id }}</a></td>
				<td>{{ vertex.title }}</td>
				<td>{{ vertex.date.date|date:"d.m.Y" }}</td>
				<td>{{ vertex.user.username }}</td>
				<td><button type="button" onclick="choose_this_one_{{ thisi }}('{{ vertex.vertex_id }}')" {% if small %}style="font-size:11px;"{% endif %}>Wybierz</button></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h5>Brak wyników</h5>
	{% endif %}
</div>
<script>
function choose_this_one_{{ thisi }}(which) {
	S = document.getElementById("chosen-one-{{ thisi }}");
	S.innerHTML = which;
	S.setAttribute('data-chosen', 'yes');
}
	
function no_choice_{{ thisi }}() {
	S = document.getElementById("chosen-one-{{ thisi }}");
	S.innerHTML = '-';
	S.setAttribute('data-chosen', 'no');
	if ( document.getElementById("clean_button-{{ thisi }}").getAttribute('data-default') == 'yes' ) {
		$('#search-table-{{ thisi }}').DataTable().column(0).search( '' ).draw();
	}
}

var ftext = ['ID', 'tytuł', 'datę', 'autora']
var idtext = ['id', 'title', 'date', 'author']
$(document).ready(function() {
	$('#search-table-{{ thisi }} thead tr').clone(true).appendTo( '#search-table-{{ thisi }} thead' );
	$('#search-table-{{ thisi }} thead tr:eq(1) th').each( function (i) {
		if (i < 4) {
			var title = $(this).text();
			$(this).html( '<input type="text" style="width: 100%;" id="input-' + idtext[i] + '-{{ thisi }}" placeholder="filtruj ' + ftext[i] + '" />' );

			$( 'input', this ).on( 'keyup change', function () {
				if ( table.column(i).search() !== this.value ) {
					table
						.column(i)
						.search( this.value )
						.draw();
				}
			} );
		}
		$(this).css( 'padding', '6px 4px');
	} );
	
	$('#search-table-{{ thisi }} thead tr:eq(0) th').each( function (i) {
		$(this).css( 'background-color', 'white');
	} );
	
	var table = $('#search-table-{{ thisi }}').DataTable({
		orderCellsTop: true,
		"pageLength": {{ plen }},
		"bLengthChange": false,
		"bFilter": true,
		"pagingType": "simple",
	});
	
	$('#search-table-{{ thisi }}').css( 'min-width', 'min-content');
	$('#search-table-{{ thisi }}').css( 'width', '100%');
	$('#input-id-{{ thisi }}').css( 'min-width', '50px');
	$('#input-title-{{ thisi }}').css( 'min-width', '120px');
	$('#input-date-{{ thisi }}').css( 'min-width', '60px');
	$('#input-author-{{ thisi }}').css( 'min-width', '80px');
	
	{% if chosen %}
	choose_this_one_{{ thisi }}('{{ chosen }}');
	table.column(0).search( '{{ chosen }}' ).draw();
	document.getElementById("clean_button-{{ thisi }}").setAttribute('data-default', 'yes');
	{% endif %}
});
</script>