{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}edycja profilu{% endblock %}

{% block main_content %}
<form method="post">
	{% csrf_token %}
	<div class="flexonwidth sidepadd paddtop">
		<h4>Edycja danych użytkownika</h4>
		<button type="submit" name="save" class="btn btn-primary sgbutton">Zapisz</button>
		<a href="{% url 'profile' username=thisuser %}" class="btn btn-secondary" role="button" >Wróć do profilu</a>
	</div>
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
{% include "includes/widget.html" with widget=form.email margin="big" header="Email" %}
</form>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin" style="font-size: large;">
	<a class="fancy-a" href="{% url 'password_change' %}">Zmień hasło</a>
</div>
{% endblock %}