{% extends 'base.html' %}

{% block title %}twój profil{% endblock %}

{% block content %}
<h3 style="padding: 22px 32px 10px;">Twój profil użytkownika</h3>{% if edge_propositions %}
{% include 'includes/edge_props.html' %}{% endif %}
<div style="display:flex;" class="small-margin">
	<div style="flex: 3;">
		<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/vertices_list.html' with vertices=projects add_new=1 header="Nieopublikowane wierzchołki" %}
		</div>
		<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/vertices_list.html' with vertices=verts show_all=1 this_user=user header="Ostatnio opublikowane wierzchołki" %}
		</div>
		<div class="distinctarea border border-primary rounded big-margin" >
{% include 'includes/preambles_list.html' with preambles=preambles add_new=1 header="Moje preambuły" %}
		</div>
		<div class="distinctarea border border-primary rounded big-margin" >
{% include 'includes/paths_list.html' with paths=paths add_new=1 header="Utworzone ścieżki" %}
		</div>
	</div>
	<div style="flex: 2;">
		<div class="distinctarea paddtop border border-primary rounded big-margin">
{% include 'includes/profile_info.html' with edit_yes=1 this_user=user %}
		</div>
		<div class="distinctarea paddtop border border-primary rounded big-margin">
			<a href="{% url 'all_disciplines' %}">Wszystkie dostępne dyscypliny</a>
			<br>
			<a href="{% url 'user_search' %}">Szukaj użytkownika</a>
		</div>
{% include "includes/singleframe/FAQ.html" with in="FAQ/what_is_preamble_pl.html" header="Co to jest preambuła?" %}
{% include "includes/singleframe/FAQ.html" with in="FAQ/what_is_path_pl.html" header="Co to jest ścieżka?" %}
	</div>
</div>
{% endblock %}