{% extends 'base.html' %}

{% block title %}profil użytkownika{% endblock %}

{% load widget_tweaks %}

{% block content %}
	<h2 style="padding: 10px;">Profil użytkownika</h2>
	<div style="display:flex; justify-content: space-around;">
		<div style="flex: 3;">
			<div class="distinctarea paddtop border border-primary rounded medium-margin">
				{% include 'includes/vertexes_list.html' %}
			</div>
			<div class="distinctarea paddtop border border-primary rounded medium-margin" >
				{% include 'includes/paths_list.html' %}
			</div>
		</div>
		<div class="distinctarea paddtop border border-primary rounded medium-margin" style="flex: 2; height: min-content;">
			<div class="internal-menu" style="justify-content: inherit;">
				<h5>Dane użytkownika</h5>
			</div>
			<hr>
			<div>
				<div style="display:flex; justify-content: space-around;">
					<div style="flex: 1;">
						Nazwa użytkownika:
					</div>
					<div style="flex: 2;">
						{{ this_user.username }}
					</div>
				</div>
				<div style="display:flex; justify-content: space-around;">
					<div style="flex: 1;">
						Email:
					</div>
					<div style="flex: 2;">
						{{ this_user.email }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}