{% extends 'base.html' %}

{% block title %}profil użytkownika{% endblock %}

{% block content %}
<h3 style="padding: 22px 32px 10px;">Profil użytkownika {{ this_user.username }}</h3>
<div style="display:flex;" class="small-margin">
	<div style="flex: 3;">
		<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/vertices_list.html' with vertices=verts show_all=1 this_user=this_user header="Ostatnio opublikowane wierzchołki" %}
		</div>
		<div class="distinctarea border border-primary rounded big-margin">
{% include 'includes/paths_list.html' with paths=paths header="Utworzone ścieżki" %}
		</div>
	</div>
	<div style="flex: 2;">
		<div class="distinctarea paddtop border border-primary rounded big-margin">
{% include 'includes/profile_info.html' with this_user=this_user %}
		</div>
		<div class="distinctarea paddtop border border-primary rounded big-margin">
			<a href="{% url 'user_search' %}">Szukaj użytkownika</a>
		</div>
	</div>
</div>
{% endblock %}