<div class="SG-modal-content">
	<header style="position: relative; padding: 20px; 0">
	<span style="font-size: x-large;">Wybór wierzchołka</span>
	<span class="close-button" id="close_modal_button"></span>
	</header>
	{% if query %}
	<table class="table table-striped border border-primary rounded" id="modal_choose_table" style="font-size: {% if small %}small;{% else %}15px;{% endif %}">
		<thead>
			<tr>
				<th scope="col">ID{% if not small %} wierzchołka{% endif %}</th>
				<th scope="col">Tytuł</th>
				<th scope="col">Data{% if not small %} dodania{% endif %}</th>
				<th scope="col">Autor</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for vertex in query %}
			<tr>
				<td><a href="{% url 'view_vertex' vertex_id=vertex.vertex_id %}" class="fancy-a">{{ vertex.vertex_id }}</a></td>
				<td>{{ vertex.title }}</td>
				<td>{{ vertex.date.date|date:"d.m.Y" }}</td>
				<td>{{ vertex.user.username }}</td>
				<td><button type="button" onclick="modal_choose_this_one('{{ vertex.vertex_id }}')" {% if small %}style="font-size:11px;"{% endif %}>Wybierz</button></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h5>Brak wyników</h5>
	{% endif %}
</div>
<script>
var CF_DISPLAY;

function modal_choose_this_one(which) {
	$.ajax({
		url: '{% url "get_vertex_from_id" %}',
		type: 'post',
		async: false,
		data: {
			'vid': which
		},
		dataType: 'json',
		success: function (data) {
			CF_DISPLAY(data.vertex);
			MODAL_HIDE();
		}
	});
}

function MODAL_SHOW() {
	document.getElementsByClassName("SG-modal")[0].style.display = "block";
}

function MODAL_HIDE() {
	document.getElementsByClassName("SG-modal")[0].style.display = "none";
}

var ftext = ['ID', 'tytuł', 'datę', 'autora']
var idtext = ['id', 'title', 'date', 'author']
$(document).ready(function() {
	var modal = document.getElementsByClassName("SG-modal")[0];
	MODAL_HIDE();
	document.getElementById("close_modal_button").onclick = function() {
		MODAL_HIDE();
	}
	window.onclick = function(event) {
		if (event.target == modal) {
			MODAL_HIDE();
		}
	}
	$('#modal_choose_table thead tr').clone(true).appendTo( '#modal_choose_table thead' );
	$('#modal_choose_table thead tr:eq(1) th').each( function (i) {
		if (i < 4) {
			var title = $(this).text();
			$(this).html( '<input type="text" style="width: 100%;" id="input-' + idtext[i] + '" placeholder="filtruj ' + ftext[i] + '" />' );

			$( 'input', this ).on( 'keyup change', function () {
				if ( table.column(i).search() !== this.value ) {
					table
						.column(i)
						.search( this.value )
						.draw();
				}
			} );
		}
		$(this).css( 'padding', '6px 4px');
	} );
	
	$('#modal_choose_table thead tr:eq(0) th').each( function (i) {
		$(this).css( 'background-color', 'white');
	} );
	
	var table = $('#modal_choose_table').DataTable({
		orderCellsTop: true,
		"pageLength": {{ plen }},
		"bLengthChange": false,
		"bFilter": true,
		"pagingType": "simple",
	});
	
	$('#modal_choose_table').css( 'min-width', 'min-content');
	$('#modal_choose_table').css( 'width', '100%');
	$('#input-id').css( 'min-width', '50px');
	$('#input-title').css( 'min-width', '120px');
	$('#input-date').css( 'min-width', '60px');
	$('#input-author').css( 'min-width', '80px');
});
</script>