<footer id="the_footer">
	<div class="div-column">
		<div style="flex: 1;">
			<a href="{% url 'start' %}">Home</a>
			<a href="{% url 'about' %}">O stronie</a>
			<a href="{% url 'tutorial_frontpage' %}">Samouczek</a>
		</div>
		<div style="flex: 1;">
			<a href="{% url 'all_disciplines' %}">Panel dyscyplin</a>
			<a href="{% url 'vertex_search' %}">Szukaj wierzchołka</a>
			<a href="{% url 'user_search' %}">Szukaj użytkownika</a>
		</div>
		<div style="flex: 1;">
			<a href="{% url 'new_vertex' %}">Nowy wierzchołek</a>
			<a href="{% url 'new_preamble' %}">Nowa preambuła</a>
			<a href="{% url 'new_path' %}">Nowa ścieżka</a>
		</div>
	</div>
</footer>