{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}logowanie{% endblock %}

{% block main_content %}
<form method="POST">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Zaloguj się" button="Zaloguj" %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% include "includes/widget.html" with widget=form.username margin="big" header="Nazwa użytkownika" %}
	{% include "includes/widget.html" with widget=form.password margin="big" header="Hasło" %}
</form>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<small>
		<a class="fancy-a" href="{% url 'password_reset' %}">Zapominiałeś hasła?</a>
	</small>
</div>
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<small>
		Nie masz konta? <a class="fancy-a" href="{% url 'register' %}">Zarejestruj się</a>
	</small>
</div>
{% endblock %}