{% extends 'base.html' %}

{% block title %}reset hasła{% endblock %}

{% load widget_tweaks %}

{% block content %}
    <div style="padding-left: 6%; padding-right: 6%; padding-top: 1%;">
		{% if form %}
		<div class="distinctarea paddtop border border-primary rounded big-margin">
			<form method="POST">
				{% csrf_token %}
				<div class="internal-menu" style="justify-content: inherit;">
				<h5>Możesz teraz ustawić nowe hasło</h5>
				<button class="btn btn-primary sgbutton" type="submit" style="margin-left: 20px;">Zatwierdź</button>
				</div>
				<span for="{{ form.preamble.new_password1 }}">Wprowadź nowe hasło <span>
				{% render_field form.new_password1 class="form-control" style="margin: 10px 20px; width:100%; min-width:150px; max-width: 500px;" placeholder=form.new_password1.label %}
				{% for error in form.new_password1.errors %}
					<span class="help-block">{{ error }}</span>
				{% endfor %}
				<br>
				<span for="{{ form.preamble.new_password2 }}">Potwierdź nowe hasło <span>
				{% render_field form.new_password2 class="form-control" style="margin: 10px 20px; width:100%; min-width:150px; max-width: 500px;" placeholder=form.new_password2.label %}
				{% for error in form.new_password2.errors %}
					<span class="help-block">{{ error }}</span>
				{% endfor %}
			</form>
		</div>
		{% else %}
		<p>Wprowadzony adres url jest niepoprawny.</p>
		{% endif %}
    </div>
{% endblock %}