{% extends 'base.html' %}

{% block title %}reset hasła{% endblock %}

{% load widget_tweaks %}

{% block content %}
    <div style="padding-left: 6%; padding-right: 6%; padding-top: 1%;">
		<div class="distinctarea border border-primary rounded big-margin">
			<form method="POST">
				{% csrf_token %}
				<div class="internal-menu" style="justify-content: inherit;">
				<h4>Reset hasła</h4>
				<button class="btn btn-primary sgbutton" type="submit" style="margin-left: 20px;">Wyślij</button>
				</div>
				Wprowadź adres email skojarzony z twoim kontem, a wyślemy ci dalsze instrukcje.
				{% render_field form.email class="form-control" style="margin-top: 10px; width:100%; min-width:150px; max-width: 500px;" placeholder=form.email.label %}
				{% for error in form.email.errors %}
					<span class="help-block">{{ error }}</span>
				{% endfor %}
			</form>
		</div>
    </div>
{% endblock %}