{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}nowe hasło{% endblock %}

{% block main_content %}{% if form %}
<form method="POST">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Możesz teraz ustawić nowe hasło" button="Zatwierdź" %}
{% include "includes/widget.html" with widget=form.new_password1 margin="big" header="Wprowadź nowe hasło" %}
{% include "includes/widget.html" with widget=form.new_password2 margin="big" header="Potwierdź nowe hasło" %}
</form>
{% else %}
<p>Wprowadzony adres url jest niepoprawny.</p>{% endif %}
{% endblock %}