{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}reset hasła{% endblock %}

{% load widget_tweaks %}

{% block main_content %}
<form method="POST">
	{% csrf_token %}
	<div class="distinctarea paddtop border border-primary rounded big-margin">
		<div class="internal-menu" style="justify-content: inherit;">
			<h4>Reset hasła</h4>
			<button class="btn btn-primary sgbutton" type="submit" style="margin-left: 20px;">Wyślij</button>
		</div>
		<span>
			Wprowadź adres email skojarzony z twoim kontem, a wyślemy ci dalsze instrukcje.
		</span>
		{% render_field form.email class="form-control" placeholder=form.email.label %}
		{% for error in form.email.errors %}
			<span class="help-block">{{ error }}</span>
		{% endfor %}
	</div>
</form>
{% endblock %}
{% block side_content %}
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<small>
		Nie masz konta? <a class="fancy-a" href="{% url 'register' %}">Zarejestruj się</a>
	</small>
</div>
<div class="distinctarea paddtop border border-primary rounded big-margin">
	<small>
		 <a class="fancy-a" href="{% url 'login' %}">Masz już konto?</a>
	</small>
</div>
{% endblock %}