{% extends 'base_2cols_mediumpadd.html' %}

{% block title %}zmiana hasła{% endblock %}

{% block main_content %}
<form method="POST">
	{% csrf_token %}
{% include "includes/simple_form_header.html" with hidden_fields=form.hidden_fields text="Zmiana hasła" button="Zatwierdź" %}
{% include "includes/widget.html" with widget=form.old_password margin="big" header="Aktualne hasło" %}
{% include "includes/widget.html" with widget=form.new_password1 margin="big" header="Nowe hasło" %}
{% include "includes/widget.html" with widget=form.new_password2 margin="big" header="Powtórz nowe hasło" %}
</form>
{% endblock %}