{% extends 'base.html' %}

{% block title %}zmień hasło{% endblock %}

{% block content %}
    <div style="padding-left: 6%; padding-right: 6%;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Zmiana hasła</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary sgbutton" type="submit">Zatwierdź</button>
            </div>
        </form>
    </div>
{% endblock %}