<div class="innerdistinctarea border border-warning rounded small-margin" style="display: flex;">
	<div style="flex: 1;">
		<span>Nazwa: </span>{{ this_path.name }}</a>
		<br>
		<span>Opis: {{ this_path.description }}</span>
		<br>
		<span>Liczba wierzchołków: {{ this_path.length }}</span>
		<br>
		<span>Początek: </span><a href="{{ path.get_first_url }}" class="fancy-a">{{ this_path.get_first_str }}</a>
	</div>{% if user == this_path.user %}
	<div>
		<a href="{% url 'edit_path' path_id=this_path.path_id %}">edytuj</a>
	</div>{% endif %}
</div>